// .custom-input-field {
//   margin: 0;
//   font-family: inherit;
//   font-size: inherit;
//   line-height: inherit;
//   //  border: none;
//   //  background: none;
// }

.custom-button-save {
  font-size: 14px;
  padding: 2px 8px;
  background-color: transparent;
  border: 1px solid var(--primaryColor);
  border-radius: 10px;
  color: var(--primaryColor);
  font-weight: 600;
}
