.switch-wrapper {
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  width: max-content;
}

.switch {
  position: relative;
  width: 37.5px;
  height: 19.5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch label {
  position: absolute;
  cursor: pointer;
  background: #ccc;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.switch label::after {
  content: "";
  position: absolute;
  width: 16.5px;
  height: 16.5px;
  left: 1.5px;
  top: 1.5px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}

/* Checked State */
.switch input:checked + label {
  background: #4caf50;
}

.switch input:checked + label::after {
  transform: translateX(18px);
}
