@font-face {
  font-family: "robotoLight";
  src: url("../fonts/Roboto-Light.ttf") format("ttf"),
    url("../fonts/Roboto-Light.ttf") format("ttf") format("woff");
}

// @font-face {
//   font-family: "robotoMedium";
//   src: url("..fonts/Roboto-Medium.ttf") format("ttf");
// }

// @font-face {
//   font-family: "robotoRegular";
//   src: url("..fonts/Roboto-Regular.ttf") format("ttf");
// }

@font-face {
  font-family: "robotoSlabMedium";
  src: url("../fonts/RobotoSlab-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "robotoSlabRegular";
  src: url("../fonts/RobotoSlab-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "poppinsLight";
  src: url("../fonts/Poppins-Light.ttf") format("ttf");
}

@font-face {
  font-family: "poppinsMedium";
  src: url("../fonts/Poppins-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "poppinsRegular";
  src: url("../fonts/Poppins-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_opsz\,wght.ttf") format("ttf");
}
