<div class="page-title">
    <h1>Delivery Challans</h1>
    <div class="action-buttons">
        <!-- <button class="custom-button-export" (click)="exportData()">
            <img src="assets/images/icons/excel.svg" alt="export" /> Export
        </button> -->

        @if (isPermitted('DC_TXN_DC_TXN_ADD')) {
        <button class="custom-button-secondary" (click)="onCreateChallan()">Create Delivery Challan</button>
        }
        <div container="body">
            <img src="assets/images/icons/fullScreen.svg" alt="" class="pointer" width="14px"
                (click)="toggleFullScreen()" placement="start" [ngbTooltip]="tipContent" />
            <ng-template #tipContent> Full Screen </ng-template>
        </div>
    </div>
</div>

<div class="filter-section">
    <app-delivery-challan-view-filters [filters]="filters()" (getData)="getData($event)"
        (exportEvent)="exportData($event)"></app-delivery-challan-view-filters>
</div>


@if (!loading()) {
<div class="main-content">
    <div class="content-section" [ngClass]="{ isFilters: isFilters(), fullScreen : fullScreen() }">
        @if (fullScreen()) {
        <img src="assets/images/icons/fullScreenCollapse.svg" alt="" class="me-3 pointer float-end" width="14px"
            (click)="toggleFullScreen()" />
        }
        <div class="grid-table">
            <div class="table-container">
                <app-delivery-challan-view-grid-table [filterKeyword]="filterKeyword()" [challansList]="challansList()"
                    [challanListOrg]="challansList()" (exportHeader)="onExportHeader($event)"
                    (printEvent)="refreshIfPrinted($event)"></app-delivery-challan-view-grid-table>
            </div>

            <div class="table-footer d-flex justify-content-center mt-3 align-items-center" style="gap: 5em">
                @if (challansList().length > 0) {
                <div class="d-flex justify-content-center mt-3">
                    <ngb-pagination [collectionSize]="totalChallans()" [page]="currentPage()" [pageSize]="count()"
                        (pageChange)="onPageChange($event)" [boundaryLinks]="true" [maxSize]="5"
                        [rotate]="true"></ngb-pagination>
                    <p class="mt-2 ms-3"> Items per page:</p>
                    <select class="custom-select ms-3" [(ngModel)]="count" (ngModelChange)="onPageSizeChange(count())">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="50">50</option>
                        <option [ngValue]="100">100</option>
                        <option [ngValue]="500">500</option>
                    </select>
                </div>
                }

                @if (totalChallans() && totalChallans() > 0) {
                <div class="total-rows ml-10 fw-bold">Total Records: {{totalChallans()}}</div>
                }
            </div>
        </div>
    </div>

</div>
}@else {
<div class="progress-bar-wrapper">
    <div class="progress-bar-indeterminate"></div>
</div>

}