<div class="filters-box">
    <div class="dynamic-form-row">
        <div class="">
            <div class="custom-form-input" style="width: 150px;">
                <label for="">From Date</label>
                <div class="input-group datepicker">
                    <input class="form-control " [(ngModel)]="fromDate" placeholder="yyyy-mm-dd" name="fromDt"
                        [autoClose]="true" ngbDatepicker #fromDt="ngbDatepicker" />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="fromDt.toggle()" type="button">
                    </button>
                </div>
            </div>
        </div>

        <div class="">
            <div class="custom-form-input" style="width: 150px;">
                <label for="">To Date</label>
                <div class="input-group datepicker">
                    <input class="form-control" [(ngModel)]="toDate" placeholder="yyyy-mm-dd" name="toDate"
                        [autoClose]="true" ngbDatepicker #toDt="ngbDatepicker" />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="toDt.toggle()" type="button">
                    </button>
                </div>
            </div>
        </div>

        <div class="">
            <div class="custom-form-input">
                <label for="">Challan Number</label>
                <ng-select class="input-field" [ngModel]="challanNumber()" (ngModelChange)="challanNumber.set($event)"
                    placeholder="Select Challan Number">
                    @for (code of filters?.ChallanNumber; track $index) {
                    <ng-option [value]="code">{{code}}</ng-option>
                    }
                </ng-select>
            </div>
        </div>

        <div class="col-lg-2 d-flex gap-3 align-items-center">
            <div class="custom-form-input">
                <label for="" class="d-block">&nbsp;</label>
                <div class="d-flex">
                    <button class="custom-button-filters" (click)="handleSearch()" type="button"
                        [disabled]="!fromDate() && !toDate() && !challanNumber()">Search</button>
                    <button class="custom-button-filters ms-2" (click)="onClearFilter()"
                        [disabled]="!fromDate() && !toDate() && !challanNumber()">Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>