<div class="filters-box">
    <div class="dynamic-form-row row-gap-0">
        <div class="">
            <div class="custom-form-input">
                <label for="">Plant Code</label>
                <ng-select class="input-field" [(ngModel)]="plantCodes" placeholder="Select Plant Code"
                    [items]="filters?.PlantCode" bindLabel="name" bindValue="id" [multiple]="true">
                </ng-select>
            </div>
        </div>

        <div class="">
            <div class="custom-form-input">
                <label for="">Business Area</label>
                <ng-select class="input-field" [(ngModel)]="businessArea" placeholder="Select Business Area"
                    [items]="filters?.BusinessArea" bindLabel="name" bindValue="id">
                </ng-select>
            </div>
        </div>
        <div class="">
            <div class="custom-form-input">
                <label for="">Plant Type</label>
                <ng-select class="input-field" [(ngModel)]="plantType" placeholder="Select Plant Type"
                    [items]="filters?.plantTypes" bindLabel="name" bindValue="id" [multiple]="true">
                </ng-select>
            </div>
        </div>

        <div class="d-flex gap-3 align-items-center">
            <div class="custom-form-input">
                <label for="" class="d-block">&nbsp;</label>
                <div class="d-flex">
                    <button class="custom-button-filters" (click)="handleSearch()" type="button"
                        [disabled]="plantCodes() === undefined || plantCodes().length === 0">Search</button>
                    <button class="custom-button-filters ms-2" (click)="onClearFilter()"
                        [disabled]="plantCodes() === undefined && plantType() === undefined && businessArea() === undefined">Clear</button>
                    <button class="custom-button-export ms-2" (click)="exportData()">
                        <img src="assets/images/icons/excel.svg" alt="export" /> Export
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>