.modal-header {
  //   border-top: 3px solid #2563eb;
  background-color: #e7edf5;
  color: #2563eb;
}

.modal-header h5 {
  font-weight: 600;
  color: #222222;
}

.modal-body {
  padding: 1.25rem;
}
