<div class="filters-box">


    <div class="row">
        <div class="col-lg-3">
            <div class="custom-form-input">
                <label for="">Type</label>
                <ng-select class="input-field" [(ngModel)]="type" placeholder="Select Type">
                    @for (code of filters?.LookUpType; track $index) {
                    <ng-option [value]="code">{{code}}</ng-option>
                    }
                </ng-select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="custom-form-input">
                <label for="">Status</label>
                <ng-select class="input-field" [(ngModel)]="status" placeholder="Select Status">
                    @for (status of filters?.Status; track $index) {
                    <ng-option [value]="status">{{status}}</ng-option>
                    }
                </ng-select>
            </div>
        </div>

        <div class="col-lg-2 d-flex gap-3 align-items-center">
            <div class="custom-form-input">
                <label for="" class="d-block">&nbsp;</label>
                <div class="d-flex">
                    <button class="custom-button-filters" (click)="handleSearch()" type="button"
                        [disabled]="!type() && !status()">Search</button>
                    <button class="custom-button-filters ms-2" (click)="onClearFilter()"
                        [disabled]="!type() && !status()">Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>